VITE_REOWN_ID='7ce0561cf721b8dc1172899793a8d297'
VITE_ZAKAT_CONTRACT_ADDRESS='0x9891ba8A879324923751F5DF4476d69E840c0169'
VITE_BNB_RPC_NODE_1='https://bsc-testnet-rpc.publicnode.com'
VITE_BNB_RPC_NODE_2='https://bsc-testnet-dataseed.bnbchain.org'
VITE_BNB_RPC_NODE_3='https://bnb-testnet.api.onfinality.io/public'
VITE_URL_API='http://localhost:3000'